* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono",sans-serif;
    color: white;

    background: #2F2E41;
}

.page {
    width: 1092px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    
    margin: 70px auto 100px;
}

ul {
    display: flex;
    gap: 64px;

    font-size: 14px;
    line-height: 28px;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}
ul li a {
    opacity: 0.5;
}

ul li a:hover {
    opacity: 1;
    font-weight: 600;
}

section {
    width: 609px;

    text-align: center;

    margin: 0;
}

h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;

    margin: 0 auto 59px;
}

span {
    color: #00BFA6;
}

p {
    font-family: "Open sans",sans-serif;
    font-size: 16px;
    line-height: 28px;

    color: #C2C2C2;
}

main {
    display: flex;
    justify-content: space-between;
    
    margin: 100px auto 150px;
}

.line {
    width: 568px;

    border: #00BFA6 solid 1px;

    margin: 0 auto 27px;
}

footer {
    text-align: center;
    margin-bottom: 25px;
}
#cadeado {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 20px 20px;

}